body {
  background-color: black;
  margin: 0;
}

.text-here {
  border: 1px #e95d49 solid;
  padding: 10px;
  background-color: #ddd;
}

.text {
  padding: 10px;
  border: 1px #e95d49 solid;
  background-color: #ffa500;
}

.container {
  margin: 20px 0 40px 20px;
  padding: 10px;
  border: 1px #e95d49 solid;
  width: 328px;
  background-color: #308dc0;
}
